.WelcomeScreenBox {
    height: 100vh;
    text-align: center;
    background: linear-gradient(90deg, #07f79b, #01442a);
    animation: animate 300s linear infinite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -webkit-align-items: center;
}

.WelcomeScreen {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
    background-color: #fff !important;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 500px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -webkit-align-items: center;
}

.WelcomeScreen h1 {
    font-size: 4rem;
}

.WelcomeScreen h4 {
    font-size: 2rem;
}

.button_cont {
    display: inline-block;
    margin: 2rem 0;
}

.google-btn {
    background-color: #fff !important;
    border: 2px solid #4285f4 !important;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.2s ease;
    width: 184px;
    height: 42px;
    margin: 1rem;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
    -webkit-border-radius: 30px;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
    -webkit-transition: all 0.2s ease;
}

.google-btn:hover {
    color: #4285f4 !important;
    box-shadow: 0 0px 5px 0 #4285f4 !important;
    -webkit-box-shadow: 0 0px 5px 0 #4285f4 !important;
}

.google-icon-wrapper {
    border-radius: 50%;
    background-color: transparent;
    position: absolute;
    width: 40px;
    height: 40px;
    -webkit-border-radius: 50%;
    -webkit-background-color: transparent;
    -webkit-position: absolute;
    -webkit-width: 40px;
    -webkit-height: 40px;
}

.google-icon {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 10px;
    width: 24px;
    height: 24px;
    position: relative;
    -webkit-margin-top: 8px;
    -webkit-margin-bottom: 8px;
    -webkit-margin-left: 10px;
    -webkit-width: 24px;
    -webkit-height: 24px;
    -webkit-position: relative;
}

.btn-text {
    font-family: "Roboto", sans-serif;
    font-size: 0.9rem;
    font-weight: 500;
    color: #494949;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    float: right;
    margin: 11px 11px 0 0;
    -webkit-font-family: "Roboto", sans-serif;
    -webkit-font-size: 0.9rem;
    -webkit-font-weight: 500;
    -webkit-color: #494949;
    -webkit-border: 0;
    -webkit-background-color: transparent;
    -webkit-cursor: pointer;
    -webkit-float: right;
    -webkit-margin: 11px 11px 0 0;
}

.btn-text:hover {
    transition: 0.2s;
    color: #4285f4 !important;
}

.privacy-policy {
    font-size: 0.8rem;
    color: #494949;
    margin-top: 100px;
    margin-bottom: 1rem;
}

@media only screen and (max-width: 600px) {

    .WelcomeScreenBox {
        padding: 5%;
        -webkit-padding: 5%;
    }

    .WelcomeScreen h1 {
        font-size: 3rem;
        -webkit-font-size: 3rem;
    }

    .WelcomeScreen h4 {
        font-size: 1.5rem;
        -webkit-font-size: 1.5rem;
    }

}